.FooterTopics {
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}

.FooterTopic {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 163px;
    padding-top: 20px;
}

.FooterTopic a {
    color: #62697E;
    margin: 10px 0;
    text-align: center;
}

.FooterTopic a:hover {
    color: #FA6615;
    text-decoration: underline #FA6615;
}

.FooterCopyRights h4{
    color: #FA6615;
    font-size: 20px;
    margin: 0;
}

.FooterTopic h5 {

    margin: 10px 0;
}

.instagramCard {
    align-items: flex-start;
    border: 1px solid #00000011;
    border-radius: 8px;
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
    padding: 10px;
    width: 100%;
}

.followUs {
    width: 14%;
}

.instagramCard p {
    font-size: 11px;
    margin: 1px 0;
}

.instagramCard h5 {
    font-size: 14px;
    margin: 0;
}

.instagramCard button {
    background-color: #49A5FA;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 12px;
    padding: 6px 15px;
}

.instagramCard button:hover {
    background-color: #3582ca;
}

.instagramCard button:active {
    background-color: #3582ca;
    box-shadow: 0 2px #0d3b66;
    transform: translateY(3px);
}

.FooterExtention {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 56px 0;
    width: 100%;
}

.FooterExtentionCtt {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 30%;
}

.FooterExtentionCard {
    align-items: center;
    background-color: #EEF0F4;
    border-radius: 12px;  
    display: flex;
    height: 135px;
    justify-content: space-between;
    padding: 0 40px;
    width: 90%;
}

.FooterExtentionCard button {
    border-color: #E9EAED;
    border-style: solid;
    border-radius: 8px;
    margin: 0 5px;
}

.FooterExtentionCard button:hover {
    box-shadow: 1px 2px #bdbdc0;
}

.FooterExtentionCard button:active {
    transform: translateY(3px);
}

.FooterExtentionBtnCtt {    
    align-items: center;
    display: flex;
    justify-content: center;
    height: 40px;
    width: 250px;   
}

.FooterExtentionBtnCtt h5{
    margin: 0 5px;
    font-size: 16px;
    font-weight: 500;
}

.FooterTail {
    align-items: center;
    display: flex;
    justify-content: center;
    padding:  32px 0 100px 0;
    width: 100%;
}

.FooterTailCtt {
    align-items: center;
    border-top: 1px solid #F2F6FA;
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.FooterTailCtt a {
    margin: 0 10px;
}
.FooterTailCtt a:hover {
    color: #FA6615;
    text-decoration: underline #FA6615;
}

.FooterTailCttR {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.FooterTailCttR p{
    margin: 0 10px
}