.headerSection {
    align-items: center;
    background: url('/HeaderBG.png') no-repeat;
    background-size: cover;
    display: flex;
    height: 100vh;
    justify-content: center;
}

.headerBox {
    backdrop-filter: blur(3px);
    background-color: #f5f5f5ef;
    border: 1px solid #7c7c7c;
    border-radius: 12px;
    box-shadow: 3px 5px 5px #00000050;
    margin-right: 20%;
    position: absolute;
    width: 600px;
    z-index: 1;
}

.headerContent {
    margin: 70px;
    width: 80%;
}
.headerContent h1 {
    color: #FA6615;
    font-size: 54px;
    margin: 0;
}

.headerContent article {
    color: #62697E;
    font-size: 18px;
}

.headerContent button {
    align-items: center;
    background-color: #FA6615;
    border-color: white;
    border-radius: 8px;
    color: white;
    display: flex;
    font-size: 25px;
    justify-content: center;
    height: 56px;
    width: 90%;
    padding: 14px;
}

.headerContentBtnCtt {  display: flex; align-items: center; justify-content: space-between; width: 40%; margin: 10px 0; }

.headerContentBtnCtt p { margin: 0 5px; font-size: 18px; }

.toOldVersion {
    align-items: center;
    display: flex;
    color: #FA6615;
    justify-content: flex-start;
    width: 100%;
}

.toOldVersion p {
    margin: 10px;
}