.flexRowAround {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.flexRowBetween {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flexColumnCenter {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.headerTitle {
  color: #FA6615;
  font-size: larger;
}

.headerNav a {
  margin: 0 15px;
}

.languagesDD {
  display: inline-block;
  margin: 0 20px;
}

.languagesDDcontent {
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  color: #62697E;
  display: none;
  font-size: 16px;
  min-width: 70px;
  padding:  10px 20px;
  position: absolute;
  z-index: 1;
}

.languagesDD:hover .languagesDDcontent {
  display: block;
}
