.LoadingDescription {
    background-color: #F8F9FC;
    height: 100%;
    text-align: center;
    width: 100%;
    padding: 128px 0;
}

.LoadingDescription h2 {
    color: #FA6615;
    font-size: 46px;
    font-weight: 800;
}

.FreeRow { 
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.FreeRow section {
    margin: 40px;
}

.PrizeDrawExample {
    background-color: white;
    border: 1px solid #E9EAED;
    box-sizing: border-box;
    box-shadow: 0px 0px 12px rgba(86, 91, 122, 0.08);
    height: 383px;  
    width: 460px;
    z-index: 1;
}

.PrizeDrawExampleBody {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
}

.PrizeDrawExampleRightLogo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 14px;
}

.PrizeDrawExampleRightTopics {
    display: flex;
    justify-content: flex-start ;
    align-items: center;
}

.PrizeDrawExampleRightTopics h3, .PrizeDrawExampleRightTopics p {
    margin: 0;
}

.PrizeDrawExampleRightTopics figure {
    margin: 14px 16px;
}

.PrizeDrawExampleFooter {
    padding-bottom: 40px;
}

.PrizeDrawExampleFooter, .PrizeDrawExampleFooterCard {
    align-items: center;
    display: flex;
    justify-content: center;
}

.PrizeDrawExampleFooterCard {
    background-color: #F8F9FC;
    border: 1px solid #E9EAED;
    border-radius: 8px;
    box-sizing: border-box;
    text-align: start;
    width: 80%;
}

.PrizeDrawExampleFooterCard p {
    font-size: 14px;
    width: 80%;
}

.PrizeDrawExampleFooterCard h3 {
    margin: 10px 0;
    font-size: 16px;
    font-weight: 600;
}

.PrizeDrawExampleFooterLeft {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 20%;
}

.FreeDrawDetails {
    color: #62697E;
    height: 391px;
    text-align: start;
    z-index: 1;
}

.FreeDrawDetails h2{
    font-size: 66px;
    margin: 5px 0
}

.FreeDrawDetailsContent h3 {
    font-size: 32px;
    font-weight: bold;
    margin: 10px 0;
}

.FreeDrawDetails ul {
    position: relative;
	list-style: none;
}

.FreeDrawDetails ul li::before {
    content: "✔️";
    position: absolute;
	left: 0;
}

.FreeDrawDetails a {
    color: #2F81FF;
}

.FreeDrawDetails a:hover {
    text-decoration: underline #2F81FF;
}
