.WN {
    padding-top: 128px;
    width: 100%;
    height: 50vh;
}

.WNContent {
    text-align: center;
}

.WNContent h2 {
    color: #FA6615;
    font-size: 46px;
    font-weight: 800;
}

.WNContent p {
    color: #62697E;
    font-size:  18px;
}